/**
* CSS file 
* styles.css
*/


@media (min-width: 320px) { 
    #container{
       width:100%;
       height:1444px;  
    }
    #inner {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    width: 97%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    display: inline-block;
    }

    #form {
        font-size: 22px;
    }

     body {
        background-color: black;
     }

    img {
        width: 95%;
        height: 75%;
        padding-bottom: 3%;
    }

    .alert, .btn {
        margin-top: 3%;
    }

    .alert{

        margin-left: auto;
        margin-right: auto;
        width: 60%;
        text-decoration: none;
    }

    select{
        width: 200px;
        height: 35px;
        margin-bottom: 5px;
        border: 1px solid black;
        border-radius: 5px;

    }

    #show h1 {
        margin-top: -31px;
        font-size: 40px;
    }


    #container #title h2 {
        text-align: center;
    }

    #container #title h1 {
        font-size: 65px;
        text-align: center;
        font-weight: bold;
    }

    label {
        font-size: 14px;
    }

    input {
        border: 1px solid black;
        border-radius: 5px;
    }

    #includeN {
        margin-right: 10px;
        height: 20px;
        width: 20px;
    }

    #includeS {
        margin-right: 10px;
        height: 20px;
        width: 20px;
    }

    #genButton{
        height:100px;
        width: 300px;
        font-size: 20px;
    }

    #resetButton{
        height:100px;
        width: 200px;
        font-size: 20px;
    }

    em {
        text-align: left;
        font-size: 25px;
        margin-left: -120px;
        color: red;
        padding-bottom: 40px;
    }

    label[for="Number_of_Words"] {
        margin-top: 10px;
        padding-top: 15px;
        margin-right: 5px;
        margin-left: 5px;
        font-size: 135%;
    }

    label[for="options"] {
        margin-top: 10px;
        padding-top: 10px;
        margin-right: 5px;
        margin-left: 110px;
        font-size: 135%;
    }

    select[name= 'options'] {
        margin-top: 20px;
        margin-left: 295px;
        margin-bottom: 20px;
    }

    label[for="includeN"] {
        padding-top: 15px;
        margin-right: 3%;
        margin-left: 6%;
    }

    label[for="includeS"] {
        padding-top: 25px;
        margin-right: -17px;
        margin-left: 240px;
    }

    footer {
        text-align:center;
        padding-top: 2%;
        font-size:22px;
    }

 }

@media (min-width: 1200px) { 
     #container {
        background-color: grey;
        border: 35px solid transparent;
        width: 55%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
    }

    #inner {
        border: 2px solid black;
        border-radius: 10px;
        background-color: white;
        width: 97%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
        display: inline-block;
    }

    #form {
        font-size: 15px;
    }

     body {
        background-color: black;
     }

    img {
        width: 60%;
        height: 40%;
        padding-bottom: 3%;
    }

    .alert, .btn {
        margin-top: 3%;
    }

    .alert{

        margin-left: auto;
        margin-right: auto;
        width: 60%;
        text-decoration: none;
    }

    select{
        width: 180px;
        height: 25px;
        margin-bottom: 5px;
        border: 1px solid black;
        border-radius: 5px;

    }

    #show h1 {
        margin-top: -31px;
        font-size: 40px;
    }


    #container #title h2 {
        text-align: center;
    }

    #container #title h1 {
        font-size: 40px;
        text-align: center;
        font-weight: bold;
    }

    #genButton{
        height:30px;
        width: 200px;
        font-size: 12px;     
    }

    #resetButton{
        height:30px;
        width: 100px;
        font-size: 12px;
    }

    label {
        font-size: 18px;
    }

    input {
        border: 1px solid black;
        border-radius: 5px;
    }

    #includeN {
        margin-right: 10px;
        height: 10px;
        width: 10px;
    }

    #includeS {
        margin-right: 10px;
        height: 10px;
        width: 10px;
    }

    em {
        text-align: left;
        font-size: 14px;
        margin-left: -105px;
        color: red;
        padding-bottom: 40px;
    }

    label[for="Number_of_Words"] {
        padding-top: 15px;
        margin-right: 5px;
        margin-left: 5px;
        font-size: 100%;
    }

    label[for="options"] {
        padding-top: 10px;
        margin-right: 5px;
        margin-left: 45px;
        font-size: 100%;
    }

    select[name= 'options'] {
        margin-top: 10px;
        margin-left: 200px;
    }

    label[for="includeN"] {
        padding-top: 15px;
        margin-right: 3%;
        margin-left: 6%;
    }

    label[for="includeS"] {
        padding-top: 15px;
        margin-right: -17px;
        margin-left: 120.5px;
    }

    footer {
        text-align:center;
        padding-top: 2%;
    }

 }